<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" resourceType="Unspecified" />
    </handlers>

    <security>
      <requestFiltering>
        <verbs allowUnlisted="true">
          <add verb="DELETE" allowed="true" />
          <add verb="PUT" allowed="true" />
        </verbs>
      </requestFiltering>
    </security>

    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>

    <rewrite>
      <rules>
        <rule name="DynamicContent">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <iisnode watchedFiles="web.config;server.js;dist\*.js" loggingEnabled="true" logDirectory="iisnode_logs" devErrorsEnabled="true" nodeProcessCommandLine="%programfiles%\nodejs\node.exe" />

  </system.webServer>
</configuration>
