<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Handler to route requests to dist/server.js via iisnode -->
    <handlers>
      <add name="iisnode" path="*.js" verb="*" modules="iisnode" resourceType="Unspecified" />
    </handlers>

    <!-- Allow DELETE and PUT methods -->
    <security>
      <requestFiltering>
        <verbs allowUnlisted="true">
          <add verb="DELETE" allowed="true" />
          <add verb="PUT" allowed="true" />
        </verbs>
      </requestFiltering>
    </security>

    <!-- Remove WebDAV which blocks DELETE/PUT -->
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>


    <!-- URL Rewrite rules to redirect to dist/server.js -->
    <rewrite>
      <rules>
        <rule name="DynamicContent">
          <!-- Rewrite all requests to dist/server.js -->
          <match url=".*" />
          <action type="Rewrite" url="dist/server.js" />
        </rule>
      </rules>
    </rewrite>
    dist
    <!-- iisnode specific configuration -->
    <iisnode watchedFiles="web.config;*.js" loggingEnabled="true" nodeProcessCommandLine="node.exe --trace-warnings" />

  </system.webServer>
</configuration>